.loginmain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 2px;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
     margin-top: 2px;
}