.mainn
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 100%;
    margin: 15px;
    gap:10%;
    margin-left: 120px;
    align-items: center;
}
.div{
    width: 250px;
}
h2{
    color: #f0f0f0;
  }
  //AllOrg
  body{
    background-color: #dbc8df;
  }