.mm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .head {
    margin-bottom: 20px;
  }
  
  .otpp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid #1f1e1e;
    padding: 20px;
    border-radius: 5px;
    width: 300px; /* Adjust as needed */
    background-color: rgb(205, 170, 216);
    box-shadow: 2px 1px 1px rgb(168, 129, 180);
    height:400px;
    gap:24px;
  }
  
  .input {
    margin-bottom: 10px;
    width: 50%;
  }
  
  .inside {
    margin-top: 10px;
    width: 100%;
  }
  