.tablehead{
  font-size: 20px;  
}
.tab{
 // padding: 9px;
  width: 100px;
  margin-left: 0%;
}
.all_user{
  text-align: center;
  font-size: 62px;
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.tableuser{
  margin-left: 20px;
  margin-right: 1900px;

}