.usermain{
  padding:100px;
  width:1000px;
  align-items: center;
  margin-left: 17%;
}
.usrh{
  text-align: center;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
  margin-top: 15px;
}