.Orgee {
    margin-bottom: 20px; 
    padding: 10px; 
    background-color: #433b45; 
    border-radius: 5px; 
    width: 300px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
  }
  .usermain{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
   }
  